


from_email_addr = ""
from_email_pass = ""
to_email_addr = ""

email_server = ['mail.myhost.com', XXX]

data_path = "/usr/test"

tripower_url = "https://192.168.0.XXX/"

mqtt_broker = "blabla.local"
mqtt_port = 1883